@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 480px;
}

@layer base {
  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }

  .dark body {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
  }
}